/* SummaryReport.css */

.summary-report {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4; /* Light gray background */
}

.chart-container {
    margin-bottom: 30px; /* Space between charts */
}

.chart {
    max-width: 600px;
    margin: 0 auto;
}

.response-info-container {
    display: flex;
    justify-content: center;
    padding-left: 5%; /* 5 units of padding on the left */
    padding-right: 5%; /* 5 units of padding on the right */
}

.response-info {
    background-color: #ffffff; /* White background for the response info */
    border: 1px solid #cccccc; /* Light gray border */
    border-radius: 5px;
    padding: 20px;
    max-width: 100%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.response-info h2 {
    color: #003366; /* Dark blue color for the header */
}

.response-info p {
    font-size: 18px; /* Larger font size for the response count */
    color: #000000; /* Black color for the text */
    margin: 5px 0; /* Space between each response line */
}
