/* SurveyForm.css */

.survey-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #7ca8d0; /* Light blue background */
    padding: 20px;
}

.logo-container {
    margin-bottom: 20px; /* Space between the logo and the title */
}

.logo {
    display: block;
    margin: 0 auto; /* Center the logo horizontally */
    max-width: 100%; /* Ensure logo is responsive */
    height: auto; /* Maintain aspect ratio */
}

.survey-title {
    color: white; /* White color for the title */
    background-color: #7ca8d0; /* Dark blue background for the title */
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    max-width: 600px; /* Optional: Set a max width for the title */
    margin-bottom: 30px; /* Space between the title and the form */
    font-size: 40px; /* Increase font size for the title */
}

.survey-form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px; /* Increased padding for better spacing */
    width: 100%;
    max-width: 600px;
    font-size: 18px; /* Increase base font size for form elements */
}

.question {
    margin-bottom: 40px; /* Increased spacing between questions */
}

label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px; /* Larger font size for question labels */
}

.question-label {
    color: #003366; /* Dark blue color for question labels */
}

.radio-group {
    display: flex;
    flex-direction: column; /* Align radio buttons vertically */
    margin-bottom: 12px;
}

.radio-group div {
    display: flex; /* Align radio buttons and labels horizontally */
    align-items: center;
    margin-bottom: 15px; /* Spacing between radio buttons */
}

.radio-group input[type="radio"] {
    margin-right: 12px; /* Space between radio button and label */
    transform: scale(1.2); /* Increase the size of radio buttons */
}

.radio-label {
    color: #000000; /* Black color for radio button labels */
    font-size: 18px; /* Larger font size for radio button labels */
}

.button-container {
    display: flex;
    justify-content: space-between; /* Space between buttons */
    margin-top: 20px; /* Space above buttons */
}

.submit-button, .clear-button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px; /* Space between buttons */
}

.submit-button:hover, .clear-button:hover {
    background-color: #0056b3;
}

.clear-button {
    background-color: #dc3545; /* Red color for clear button */
}

.clear-button:hover {
    background-color: #c82333;
}

