/* ThankYouModal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure modal is on top */
}

.modal-content {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.modal-header {
    margin-bottom: 20px;
}

.modal-logo {
    max-width: 100%;
    height: auto;
}

.ok-button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

.ok-button:hover {
    background-color: #0056b3;
}
